
<div class="container">
  <h2>Mes recettes</h2>
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let recipe of myRecipes | searchfilter: 'user': userId" class="card m-1">
      <div class="card-body">

        <h5>{{recipe.name}}</h5>


        <a *ngIf="recipe.state !== 'published'" routerLink="/share-recipe/{{recipe._id}}" class="card-link">Modifier</a>

        <a  class="card-link" routerLink="/my-recipe"

                mwlConfirmationPopover
                [popoverTitle]="'Etes vous sûr ?'"
                [popoverMessage]="'Vous ne pourez pas restaurer la recette si elle est supprimée.'"
                [confirmText]="'Oui'"
                [cancelText]="'Non'"
                placement="right"
                (confirm)="onRemoveRecipe(recipe)">
          Supprimer
        </a>
      </div>
    </div>
  </div>

  <button class="btn btn-primary m-1" (click)="onCreateRecipe()" [disabled]="waiting">
    Soummettre une nouvelle recette
  </button>

  <div *ngIf="isAdmin" >
    <h2>Recette à valider</h2>

    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let recipe of myRecipes | searchfilter: 'state': 'validation'" class="card m-1">
        <div class="card-body">

          <h5>{{recipe.name}}</h5>


          <a *ngIf="recipe.state !== 'published'" routerLink="/share-recipe/{{recipe._id}}" class="card-link">Modifier</a>

          <a  class="card-link" routerLink="/my-recipe"

              mwlConfirmationPopover
              [popoverTitle]="'Etes vous sûr ?'"
              [popoverMessage]="'Vous ne pourez pas restaurer la recette si elle est supprimée.'"
              [confirmText]="'Oui'"
              [cancelText]="'Non'"
              placement="right"
              (confirm)="onRemoveRecipe(recipe)">
            Supprimer
          </a>
        </div>
      </div>

    </div>
  </div>


</div>
