<h2>Authentification</h2>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" xmlns="">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" required>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password" required>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid" >Se connecter</button>
    </form>

    <p>Si vous n'avez pas de profil vous pouvez en créer un <a routerLink="/create-profile">ici</a></p>
  </div>
</div>

