


<div class="scarousel-inner">
  <div class="scarousel-item">
    <img *ngIf="srcImages.length>0" class="d-block interne" [src]="srcImages[indexImageDisplayed]" alt="slide{{i}}">
    <div *ngIf="srcImages.length==0"  class=" interne"></div>
  </div>
</div>

