
.scarousel-inner{
  display: block;
  height: 100%;
  background-color: rgba(0,0,0,.03);
}

.scarousel-item{
  display: block;
  height: 100%;
}


.interne{
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

