<form [formGroup]="userForm" xmlns="">
<fieldset [disabled]="(state === 'validation' || state === 'published') && !isAdmin">
  <div class="container-fluid row">
    <div class="col-lg-6">

      <h3>Recette</h3>
      <div class="form-group">
        <h4 for="name">Nom de la recette</h4>
        <input type="text" formControlName="name" class="form-control">
      </div>


      <div class="form-group">
        <h4>Difficulté</h4>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="difficulty" formControlName="difficulty" value="1" id="difficulty1"> Très facile
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="difficulty" formControlName="difficulty" value="2" id="difficulty2"> Facile
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="difficulty" formControlName="difficulty" value="3" id="difficulty3"> Niveau moyen
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="difficulty" formControlName="difficulty" value="4" id="difficulty4"> Difficile
              </label>
            </div>
          </fieldset>

      </div>

      <div class="form-group">
        <h4>Coût</h4>


        <fieldset class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="cost" formControlName="cost" value="1"> Bon marché
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="cost" formControlName="cost" value="2"> Coût moyen
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="cost" formControlName="cost" value="3"> Assez chère
            </label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <h4>Photo</h4>

        <app-dnd [allowedExtensions]="['png', 'jpg', 'bmp']" [filesUrlApi]="urlApi" [disabled]="(state === 'validation' || state === 'published') && !isAdmin"></app-dnd>

      </div>


      <div>
        <h3>Ingredient</h3>

        <div formGroupName="ingredients">
          <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i" class="form-group row" >
              <div class="col-sm-6">
                <select class="form-control" formControlName="name">
                  <option *ngFor="let ingredientPossible of ingredientsAvailable" [value]="ingredientPossible.name">
                    {{ingredientPossible.name}}
                  </option>
                </select>
              </div>
              <div class="col-sm-2">
                <input type="number" class="form-control" formControlName="quantity">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" formControlName="unit">
              </div>
              <div class="col-sm-1">
                <button (click)="onRemoveIngredient(i)"  [disabled]="ingredients.length <= 1" class="btn btn-danger btn-fi"><fa-icon [icon]="faTrash"></fa-icon></button>
              </div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="onAddIngredient()">Ajouter un ingrédient</button>
      </div>



    </div>
    <div class="col-lg-6">

      <h3>Etapes</h3>

      <div formGroupName="steps">
        <div *ngFor="let step of steps.controls; let i=index" [formGroupName]="i" class="form-group row" >
          <h4>Etape {{i+1}}</h4>
          <div class="col-sm-11">
            <textarea style="height: 114px;" class="form-control" formControlName="text"></textarea>
          </div>
          <div class="col-sm-1">
            <button (click)="onUpStep(i)"   [disabled]="i == 0" style="margin: 2px" class="btn btn-primary btn-fi"><fa-icon [icon]="faCaretUp"></fa-icon></button>
            <button (click)="onDownStep(i)" [disabled]="i == steps.length -1" style="margin: 2px" class="btn btn-primary btn-fi"><fa-icon [icon]="faCaretDown"></fa-icon></button>
            <button (click)="onRemoveStep(i)"  [disabled]="steps.length <= 1" style="margin: 2px" class="btn btn-danger btn-fi"><fa-icon [icon]="faTrash"></fa-icon></button>
          </div>
        </div>
      </div>

      <button class="btn btn-primary" (click)="onAddStep()">Ajouter un étape</button>





    </div>
  </div>
</fieldset>
  <div class="row" style="margin-top: 100px;" >
    <div class="col-sm-4"></div>
    <div class="col-sm-2 text-center">
      <button (click)="onSave()" class="btn btn-primary m-*-auto" [disabled]="(state === 'validation' || state === 'published') && !isAdmin">Enregistrer la recette</button>
    </div>



    <div class="col-sm-2 text-center" *ngIf="! isAdmin">=
      <button *ngIf="state === 'creation'" type="submit" class="btn btn-primary m-*-auto" [disabled]="userForm.invalid"

              mwlConfirmationPopover
              [popoverTitle]="'Etes vous sûr ?'"
              [popoverMessage]="'Nous vous rappelons que votre recette doit être de bonne qualité'"
              [confirmText]="'Oui'"
              [cancelText]="'Non'"
              placement="right"
              (confirm)="onSubmitRecipe()"


      >Soumettre la recette</button>

      <button *ngIf="state === 'validation'"  (click)="onCancelValidation()" type="submit" class="btn btn-primary m-*-auto">Annuler la demande de validation</button>
    </div>

    <div class="col-sm-2 text-center" *ngIf="isAdmin">
      <button *ngIf="state === 'creation' || state === 'validation'"  type="submit" class="btn btn-primary m-*-auto" [disabled]="userForm.invalid"

              mwlConfirmationPopover
              [popoverTitle]="'Etes vous sûr ?'"
              [popoverMessage]="'Verifiez que la recette vérifie les standart de qualité'"
              [confirmText]="'Oui'"
              [cancelText]="'Non'"
              placement="right"
              (confirm)="onPublish()"


      >Publier</button>
    </div>
    <div class="col-sm-2 text-center" *ngIf="isAdmin">
      <button *ngIf="state === 'validation'"  (click)="onCancelValidation()" type="submit" class="btn btn-primary m-*-auto">Refuser la recette</button>
    </div>
</div>
</form>

