<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faUtensils"></fa-icon>Cookiiing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a *ngIf="isAuth()" class="nav-link" routerLink="/my-recipe">Mes recettes <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a *ngIf="isAdmin()" class="nav-link" routerLink="/modify-ingredient">Ingrédient</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><fa-icon [icon]="faSearch"></fa-icon> </button>
    </form>

    <ul class="navbar-nav">

      <li class="nav-item">
        <a *ngIf="! isAuth()" class="nav-link" routerLink="/auth">Se connecter</a>
      </li>

      <li class="nav-item">
        <a *ngIf="! isAuth()" class="nav-link" routerLink="/create-profile">S'inscrire</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isAuth()" class="nav-link" (click)="onSignOut()" routerLink="/">Se deconnecter</a>
      </li>

    </ul>
  </div>
</nav>



<div class="container-fluid mt-5 mb-5" style="max-width: 1500px">
    <router-outlet></router-outlet>
</div>
