


<div class="row">
  <div class="col-lg-6">
    <h2>Ingredient</h2>

    <table style="width: 100%">
      <thead>
      <tr>
        <th>Nom</th>
        <th style="width: 100px">Unité</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.type }}</td>
        </tr>
        </tbody>
    </table>

  </div>
  <div class="col-lg-6">
    <h2>Suggestion</h2>

    <h2>Ajouter un ingredient</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" >
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" id="name" class="form-control" formControlName="name" required>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" class="form-control" formControlName="type" required>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Se connecter</button>
    </form>

  </div>
</div>
