
<div class="container-fluid row">


  <div class="col-4">
    <div class="card w-100 mt-5">
      <div class="card-header">
        Ingredients
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item"><b>{{ ingredient.name }} : </b>{{ ingredient.quantity }} {{ ingredient.unit }}</li>
      </ul>
    </div>
  </div>
  <div class="col-8">

    <div class="card w-100">
      <div class="card-header">
        {{recipe.name}}
      </div>
      <div class="co">
        <app-carousel-recipe [recipeId]="recipeId"></app-carousel-recipe>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Coût : </b>{{ recipe.cost }}</li>
        <li class="list-group-item"><b>Difficulté : </b>{{ recipe.difficulty }}</li>
      </ul>
    </div>


    <div class="card mt-5 w-100" style="width: 18rem;">
      <div class="card-header">
        Etapes
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let step of recipe.steps; let i = index" class="list-group-item">

          <p>{{step.text}}</p>
        </li>
      </ul>
    </div>

  </div>
</div>
