
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" required>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password" required>
      </div>


      <div class="form-group">
        <label for="passwordVerif">Confirmer le mot de passe</label>
        <input type="password" id="passwordVerif" class="form-control" formControlName="passwordVerif" required>
        <p>Il faut ajouter la condition</p>
      </div>


      <div class="form-group">
        <label for="lastName">Prénom</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName" required>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Se connecter</button>
    </form>
  </div>
</div>
