/* You can add global styles to this file, and also import other style files */


.customClass {

  border-radius: 5px;
  border-style: dashed;
  border-color: #a4a4a4;
  margin:5px;
}

.customClass .img-ul-upload {
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  border: 1px solid;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;



  padding: 6px 12px!important;
  margin-bottom: 0!important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143!important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer!important;
  -webkit-user-select: none !important;
  -moz-user-select: none!important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border-radius: 4px !important;

  margin: 5px;
}


.customClass .img-ul-clear { background-color: #b7120f !important;
  border-color: #a40911;
  border: 1px solid;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;



  padding: 6px 12px!important;
  margin-bottom: 0!important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143!important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer!important;
  -webkit-user-select: none !important;
  -moz-user-select: none!important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border-radius: 4px !important;


  margin: 5px;
}



.btn-busy{
  background: #a40911 !important;

  animation: rotate-360 0.8s infinite linear;
  border: 1px solid slategray;
  border-radius: 50%;
  border-right-color: midnightblue;
  border-top-color: midnightblue;
  display: inline-block;

}

.spinner{
  position: relative;
  padding-left: 44px !important;
  transition: 0.15s all ease;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 22px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
