
<div class="container-fluid d-flex flex-wrap justify-content-center">



    <div *ngFor="let recipe of recipes"  (click)="onConsultRecipe(recipe)" class="card m-2">


        <app-carousel-recipe  [recipeId]="recipe._id"></app-carousel-recipe>
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>


      </div>
      <div class="card-footer bg-transparent">
        <div class="row">
          <div class="col-4">
            <div *ngIf="recipe.cost === '1'" class="d-flex">
              <fa-icon [icon]="faDollarSign"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faDollarSign"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faDollarSign"></fa-icon>
            </div>
            <div *ngIf="recipe.cost === '2'" class="d-flex">
              <fa-icon [icon]="faDollarSign"></fa-icon>
              <fa-icon [icon]="faDollarSign"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faDollarSign"></fa-icon>
            </div>
            <div *ngIf="recipe.cost === '3'" class="d-flex">
              <fa-icon [icon]="faDollarSign"></fa-icon>
              <fa-icon [icon]="faDollarSign"></fa-icon>
              <fa-icon [icon]="faDollarSign"></fa-icon>
            </div>
          </div>
          <div class="col-4">
          </div>
          <div class="col-4">
            <div *ngIf="recipe.difficulty === '1'" class="d-flex">
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
            </div>
            <div *ngIf="recipe.difficulty === '2'" class="d-flex">
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
            </div>
            <div *ngIf="recipe.difficulty === '3'" class="d-flex">
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon class="fa-disable" [icon]="faStar"></fa-icon>
            </div>
            <div *ngIf="recipe.difficulty === '4'" class="d-flex">
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
              <fa-icon [icon]="faStar"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>
