.dropzone {
  height: 170px;
  min-width: 200px;
  width: 100%;
  padding: 20px;
}

.icone-upload{
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-left: 44.5px;
}


.file-container{

  height: 130px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.file-container::-webkit-scrollbar {
  width: 1em;

  height: 18px;
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
}

.file-container::-webkit-scrollbar-thumb {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 9px;
}

.file-representation{
  display: block;
  position: relative;
  margin: 5px;
  width: 150px;
  min-width: 150px;
  height: 100px;
  min-height: 100px;

  padding: 5px;
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.file-representation img{
  height: 100%; width: 100%; object-fit: contain
}

.img-container{
  height: 68px;


}

.file-name{
  width: 100%;
  max-width: 100%;
  text-align: center;

  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

.file-input{
  position: absolute;
  z-index: 20;
  height: 88px;
  width: 138px;
  opacity: 0;
}

.file-representation-button-input{
  opacity: 0;
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;

  width: 150px;
  min-width: 150px;
  height: 100px;
  min-height: 100px;

  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 10;
  transition: .1s;
}


.file-input:hover:hover + .file-representation-button-input{
  opacity: 1;
  background: rgba(164, 164, 164, 0.6);
  border: 1px solid #e3e3e3;
  transition: .1s;
}

.file-browse{
  top: -20px;

  width: 100%;
  text-align: center;

}

.glyphicon{
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 44.5px;
  font-size: 50px;
}

.glyphicon-small{
  margin-left: 51px;
  font-size: 30px;
}


.file-representation-chaging{

  position: absolute;
  left: -1px;
  top: -1px;
  display: block;

  width: 150px;
  min-width: 150px;
  height: 100px;
  min-height: 100px;

  padding: 5px;
  background: rgba(164, 164, 164, 0.6);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  z-index: 10;
}


.file-representation-button{
  opacity: 0;
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;

  width: 150px;
  min-width: 150px;
  height: 100px;
  min-height: 100px;

  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 10;
  transition: .1s;
}


.file-representation-button:hover{
  opacity: 1;
  background: rgba(164, 164, 164, 0.6);
  border: 1px solid #e3e3e3;
  transition: .1s;
}

.file-representation-glyphicon:hover{
  display: block;
}

.spinner{
  position: absolute;
  padding-left: 44px !important;
  transition: 0.15s all ease;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 34px;
  left: 69px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
