<div class="dropzone well" appDnd (filesDropEmiter)="onFileDrop($event)" >

    <div class="centered file-container">
      <div class="file-representation" *ngIf="! disabled">


        <input (change)="onChangeFileInput($event)" class="file-input" type=file>
        <div class="file-representation-button-input"></div>
        <div class="img-container ">
          <fa-icon class="icone-upload" [icon]="faUpload"></fa-icon>
        </div>
        <label class="file-name">Parcourir</label>
      </div>

      <div *ngFor="let file of files" class="file-representation" >
          <div class="file-representation-chaging" *ngIf="! file.id">
            <div class="spinner"></div>
          </div>

          <div (click)="onRemoveFile(file)" class="file-representation-button" *ngIf="file.id && !disabled">
            <div class="file-representation-glyphicon glyphicon-small glyphicon glyphicon-trash"></div>
          </div>

          <div class="img-container">

            <img *ngIf="file.src !== null && file.src !== 'file'" class="thumb" [src]="file.src" />


            <div *ngIf="file.src !== null && file.src == 'file'" class="thumb" class="glyphicon glyphicon-file"></div>

          </div>


          <label class="file-name">{{ file.file.name }}</label>
      </div>
  </div>
</div>
